In [16]:
# Importamos las librerías necesarias 
import pandas as pd

In [17]:
# Importamos el archivo
# Importamos los datos
df = pd.read_csv('datos_cat.csv')
df.head()

,cole_depto_ubicacion,fami_estratovivienda,fami_personashogar,fami_tieneautomovil,fami_tienecomputador,fami_tieneinternet,fami_tienelavadora,punt_global
0,VALLE,Estrato 3,9 o más,Si,Si,No,No,Rango de 238.0 a 293.0
1,VALLE,Estrato 5,3 a 4,Si,Si,Si,Si,Rango de 238.0 a 293.0
2,VALLE,Estrato 1,3 a 4,No,No,No,Si,Rango de 48 a 238.0
3,VALLE,Estrato 6,5 a 6,Si,Si,Si,Si,Rango de 293.0 a 337.0
4,CUNDINAMARCA,Estrato 4,3 a 4,Si,Si,Si,Si,Rango de 337.0 a 476

In [18]:
# Revisamos los valores únicos para cada columna
print('Cole_depto_ubicacion:',df['cole_depto_ubicacion'].unique())
print('----------------------------------------------------------')
print('fami_estratovivienda:',df['fami_estratovivienda'].unique())
print('----------------------------------------------------------')
print('fami_personashogar:',df['fami_personashogar'].unique())
print('----------------------------------------------------------')
print('fami_tieneautomovil:',df['fami_tieneautomovil'].unique())
print('----------------------------------------------------------')
print('fami_tienecomputador:',df['fami_tienecomputador'].unique())
print('----------------------------------------------------------')
print('fami_tieneinternet:',df['fami_tieneinternet'].unique())
print('----------------------------------------------------------')
print('fami_tienelavadora:',df['fami_tienelavadora'].unique())

Cole_depto_ubicacion: ['VALLE' 'CUNDINAMARCA' 'ANTIOQUIA' 'BOGOTÁ' 'CAUCA' 'RISARALDA'
 'SANTANDER' 'QUINDIO' 'NARIÑO' 'ATLANTICO' 'SUCRE' 'CALDAS' 'META'
 'MAGDALENA' 'CASANARE' 'BOLIVAR' 'NORTE SANTANDER' 'LA GUAJIRA' 'CESAR'
 'TOLIMA' 'BOYACA' 'GUAINIA' 'CORDOBA' 'HUILA' 'ARAUCA' 'PUTUMAYO' 'CHOCO'
 'CAQUETA']
----------------------------------------------------------
fami_estratovivienda: ['Estrato 3' 'Estrato 5' 'Estrato 1' 'Estrato 6' 'Estrato 4' 'Estrato 2'
 'Sin Estrato' 'Técnica o tecnológica completa']
----------------------------------------------------------
fami_personashogar: ['9 o más' '3 a 4' '5 a 6' '7 a 8' '1 a 2' 'Estrato 4']
----------------------------------------------------------
fami_tieneautomovil: ['Si' 'No' '3 a 4']
----------------------------------------------------------
fami_tienecomputador: ['Si' 'No']
----------------------------------------------------------
fami_tieneinternet: ['No' 'Si']
----------------------------------------------------------
fami_tienelavadora: ['No' 'Si']

In [19]:
# Eliminamos los que no corresponden
df = df[df['fami_estratovivienda'] != 'Técnica o tecnológica completa']
df = df[df['fami_personashogar'] != 'Estrato 4']
df = df[df['fami_tieneautomovil'] != '3 a 4']

In [20]:
# Revisamos que se haya eliminado bien
print('Cole_depto_ubicacion:',df['cole_depto_ubicacion'].unique())
print('----------------------------------------------------------')
print('fami_estratovivienda:',df['fami_estratovivienda'].unique())
print('----------------------------------------------------------')
print('fami_personashogar:',df['fami_personashogar'].unique())
print('----------------------------------------------------------')
print('fami_tieneautomovil:',df['fami_tieneautomovil'].unique())
print('----------------------------------------------------------')
print('fami_tienecomputador:',df['fami_tienecomputador'].unique())
print('----------------------------------------------------------')
print('fami_tieneinternet:',df['fami_tieneinternet'].unique())
print('----------------------------------------------------------')
print('fami_tienelavadora:',df['fami_tienelavadora'].unique())

Cole_depto_ubicacion: ['VALLE' 'CUNDINAMARCA' 'ANTIOQUIA' 'BOGOTÁ' 'CAUCA' 'RISARALDA'
 'SANTANDER' 'QUINDIO' 'NARIÑO' 'ATLANTICO' 'SUCRE' 'CALDAS' 'META'
 'MAGDALENA' 'CASANARE' 'BOLIVAR' 'NORTE SANTANDER' 'LA GUAJIRA' 'CESAR'
 'TOLIMA' 'BOYACA' 'GUAINIA' 'CORDOBA' 'HUILA' 'ARAUCA' 'PUTUMAYO' 'CHOCO'
 'CAQUETA']
----------------------------------------------------------
fami_estratovivienda: ['Estrato 3' 'Estrato 5' 'Estrato 1' 'Estrato 6' 'Estrato 4' 'Estrato 2'
 'Sin Estrato']
----------------------------------------------------------
fami_personashogar: ['9 o más' '3 a 4' '5 a 6' '7 a 8' '1 a 2']
----------------------------------------------------------
fami_tieneautomovil: ['Si' 'No']
----------------------------------------------------------
fami_tienecomputador: ['Si' 'No']
----------------------------------------------------------
fami_tieneinternet: ['No' 'Si']
----------------------------------------------------------
fami_tienelavadora: ['No' 'Si']

In [21]:
# Descargamos el archivo limpio
df.to_csv('datos_limpio.csv', index=False)

In [24]:
# Creamos como un .sql
# Nombre de la tabla
table_name = "tabla_data_final"

# Generar el script SQL manualmente para data_mod
script = "CREATE TABLE {} (\n".format(table_name)

for col in df.columns:
    script += "    {} VARCHAR(255),\n".format(col.replace('\'', ''))

script = script.rstrip(",\n") + "\n);\n\n"

script += "COPY {} (".format(table_name)

for col in df.columns:
    script += "{}, ".format(col)
script = script.rstrip(", ")
script += ") FROM stdin;\n"

for i in range(df.shape[0]):
    row = "\t".join([str(x) for x in df.iloc[i]])  # Crear una fila como una cadena de texto separada por tabulaciones
    script += "{}\n".format(row)

script += "\\."

# Guardar el script SQL en un archivo
with open('data_proy3.sql', 'w') as file:
    file.write(script)